@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1431mn');
  src:  url('fonts/icomoon.eot?1431mn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1431mn') format('truetype'),
    url('fonts/icomoon.woff?1431mn') format('woff'),
    url('fonts/icomoon.svg?1431mn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e902";
}
.icon-midi:before {
  content: "\e901";
}
.icon-contributions:before {
  content: "\e900";
}
