:root {
  /* --shade-base: rgb(150, 150, 150); */
  /* --shade-base: rgb(0, 0, 0); */
  --shade-base: darkblue;
  --shade-base-overlay: #000d;

  --shade-dark: #111;
  --shade: #444;
  /* --shade-light: rgb(0, 0, 0); */
  --shade-light: rgb(158, 136, 76);

  --shade-active: rgb(255, 78, 94);

  --shade-active-on: #444;

  --shade-gray: gray;

  --space: 2px;
  --half-box-size: 12px;
  --box-size: 25px;
  --track-size: 52px;

  --view-width: 1200px;

  --hover-base:  rgb(158, 136, 76);
  --hover-light: rgb(230, 198, 111);
  --hover-dark: #444;
  --hover-inverted: white;
}