.play-btn{
  display: flex;
  width: 30px;
  /* height: 30px; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid gray; */
  border-left: 1px solid;
  fill: var(--shade-light);
  stroke-width: 4px;
  padding: 10px;
  /* margin: auto; */
  /* transition: 200ms; */
}

.play-btn:hover { background-color: var(--hover-base); }

.play-btn:hover .circle{
  background-color:var(--hover-base);
}

.play-btn:hover .play-symbol{
  color: var(--shade-base);
}

.play-btn line {
  stroke-width: 2px;
  stroke: var(--shade-light);
}

.play-btn polygon {
  fill: var(--shade-light);
}

.play-btn:hover polygon {
  fill: var(--shade-base);
}
.play-btn:hover line {
  stroke: var(--shade-base);
}


.play-symbol{
  position: absolute;
}

.bpm{ 
  font-size: 15px;
  margin-top: 0;
  font-family: 'Six Caps', sans-serif; 
}

.control-blank-panel{
  flex: 1;
  display: flex;
}

.control {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--shade-base);
  margin-right: 20px;
  text-align: center;
}

.control-track {
  position: sticky;
  top: 0;
  z-index: 1;
}

.credits{
  padding-left: 20px;
  /* width: 100%; */
  display: flex;
  align-items: center;;
}

/* .icon-git{ font-size: 1rem; } */
.icon-git:hover { 
  cursor: pointer;
  color: var(--hover-light);
}

.credit-texts{ 
  margin-left: 10px;
  font-family: Helvetica, sans-serif; 
  font-size: .95rem;
  text-transform: none;
}

.flex{display: flex; }

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}