@import '/src/styles/variables.css';


.track-container{
    display: flex;
    font-size: 12px;
    padding: 40px;
    justify-content: space-between;
    animation: slide-up 0.4s ease;
}

.contribute-day{
    margin: 4px;
    margin-right: 0;
    width: 12px;
    height: 12px;
    background-color: rgb(175, 175, 175);
}

.first-col .contribute-day{
    margin-left: 0;
}

.week{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: flex; */
    /* padding: 2.5px 2.5px; */
}

.toggle .week-col div{
    background-color: rgb(47, 47, 47);
}

.week-col{}

.week-selector{
    cursor: pointer;
    font-size: .7rem;
    color: gray;
}

.week-selector:hover ~ .week-col div{
 background-color: var(--hover-base);   
}

.day-selector{
    display: grid;
    cursor: pointer;
}

.day-selector span:nth-child(1){ visibility: hidden;}

/* .day-selector:hover ~ .weeks-table .week .week-col div:nth-child(1){
    background-color: var(--hover-base);  
} */

/* #row1:hover ~ .weeks-table .week .week-col div:nth-child(1){ background-color: white; } */
/* #row2:hover ~ .week .week-col div:nth-child(2){ background-color: white; }
#row3:hover ~ .week .week-col div:nth-child(3){ background-color: white; }
#row4:hover ~ .week .week-col div:nth-child(4){ background-color: white; }
#row5:hover ~ .week .week-col div:nth-child(5){ background-color: white; }
#row6:hover ~ .week .week-col div:nth-child(6){ background-color: white; }
#row7:hover ~ .week .week-col div:nth-child(7){ background-color: white; } */

.track{     
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.track-steps{
    /* display: flex; */
    /* border-top: 1px solid var(--shade-gray); */
    padding: 20px;
    padding-top: 0;
    flex: 3;
}

.track-steps span{ width: auto;}

.track-info{
    border-top: 1px solid var(--shade-gray);
    padding: 20px;
    /* width: 100%; */
    flex: 1;
    margin-right: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.track-title{
    /* width: 100%; */
    flex: 1;
    margin-right: 10px;
    display: block;
    /* border-top: 1px solid var(--shade-gray); */
    background-color: var(--shade-light);
    color: var(--shade-base);
    font-family: 'Six Caps', sans-serif;
    z-index: 199;
    /* align-items: center; */
    /* justify-content: center; */
}

.abbrev-name{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-right: 20px; */
    padding-top: 20px;
    display: flex;
}

.track-control{
    width: 100%;
    display: flex;
}

.track-play{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: var(--shade-base);
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    font-size: 2rem;
    /* border-top: 1px solid gray; */
}

.track-add{
    display: flex;
    padding: 20px;
    height: 200px;
    margin-bottom: 100px;
}

.track-add-container{
    width: 100%;
    border: 1px dashed gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.track-add-container button{ margin-top: 20px}
.track-add-container input{ 
    font-size: 2rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
}

.circle {
    border:1px solid;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 150ms ease-in-out 0s;
}

.delete-track{
    width: 28px;
    justify-content: center;
    height: 20px;
    align-items: center;
    display: flex;
    border-right: 2px solid var(--shade-base);
    border-bottom: 2px solid var(--shade-base);
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.delete-track:hover{ background-color: var(--hover-base); color: var(--hover-inverted);}



.contrib-count{ }

.counts{ display: flex; align-items: center; }
.counts i{ font-size: 1.5rem; margin-left: 10px;}

.contrib-count p{
   font-size: 2.25rem;
   margin: 0
}

.contrib-date p{ margin: 0 }

/* contribution level */
.rarely{ background-color: rgb(130, 255, 130);}
.normal{ background-color: rgb(10, 187, 10);}
.often{ background-color: rgb(3, 148, 3);}
.every{ background-color: rgb(0, 138, 0);}
.nerd{ background-color: rgb(15, 109, 15);}
.commits-by-cat{ background-color: rgb(0, 71, 0);}


.no-t-margin{ margin: 0}

.weeks-table{
    display: flex;
    padding-top: 10px;
}

.add-track{ width: 40px; height: 40px; font-size: 2rem;}

/* remove loading here */

.playcontroller {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: var(--cut-shape);
}

.active .week-col div{
    background-color: var(--shade-active);
}

.excluded div{
    opacity: 0.5;
}

.muted{
    /* background-color: var(--hover-base); */
    background-color: #22213a;
    width: inherit;
    position: absolute;
    height: 100%;
    z-index: 3;
    opacity: .8;
    /* background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 18px); */
}

.muted-wrapper{
    position: relative;
}

.mute-track{
    width: 90%;
    display: flex;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--shade-base);
}

.mute-active{
    background-color: var(--hover-base);
    color: var(--hover-inverted);
}

.mute-track:hover{ background-color: var(--hover-base); color: var(--hover-inverted);}

.mute-display{
    font-size: 5rem;
    margin: 0;
    height: 100%;
    padding-left: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}