@import './styles/variables.css';

::-webkit-scrollbar {
  display: none;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Glegoo', serif;
  background-color: var(--shade-base);
  color: var(--shade-light);

  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: inherit;
}

.selectable {
  border: var(--border-width) solid var(--shade-dark);
  transition: 0.2s box-shadow, 0.3s border-color;
  box-shadow: 0 0 0 transparent;
}
.selectable.active {
  border-color: var(--primary);
  box-shadow: 0 0 var(--border-width) var(--primary);
}

button {
  border: 1px solid;
  text-align: center;
  box-sizing: border-box;
  line-height: var(--box-size);
  cursor: pointer;
  background-color: var(--shade-base);
  color: var(--shade-light);
}
button:hover {
  background-color: var(--shade-light);
  color: var(--shade-base);
  border: 1px solid var(--shade-light);
}
button.on {
  background-color: var(--shade-light);
  color: var(--shade-base);
}

button:focus {
  outline: none;
}

.contents{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 95px;
  overflow: auto;
}

input{
  outline: none;
  width: 100%;
  font-size: 16px;
  border: 0;
  line-height: 24px;
  padding: 8px 36px 8px 14px;
  color: var(--shade-light);
}


/* range slider */

.rc-slider{
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: -5px;
  margin-left: 20px;
  width: initial;
}

.rc-slider .rc-slider-rail{ border-radius: 0; height: 2px; left: 0; right: 0; background-color: var(--shade-light);}
.rc-slider .rc-slider-track{ background-color: white; height: 2px;}

.rc-slider .rc-slider-handle{
  margin-top: -6px;
  width: 1px;
  height: 15px;
  cursor: col-resize;
  border-radius: 0;
  border: unset;
}

.rc-slider-handle-1{
  transform: translateX(0) !important;
}
.rc-slider-handle-2{
  transform: translateX(-100%) !important;
}

/* tooltips */

.tooltip-custom{
  /* background-color: var(--hover-base);
  color: black; */
}

/* loading.. */

.dimmed-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--shade-base-dark);
  opacity: .5;
}

.loading-track{
  width: 100%;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.loading{ position: relative; background-blend-mode: overlay;  animation: slide-up 0.4s ease;}

.loading-texts{
  font-size: 11rem;
  font-family: Helvetica, sans-serif;
  text-transform: none;
  line-height: 1;
  margin: 0;
  padding: 0 20px;
  animation: loading 0.4s ease;
  animation-iteration-count: infinite;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes loading {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}